
@{
    ViewBag.Title = "Home Page";
}

<div class="back-ground">
    <button class="buttonPrato">
        @Html.ActionLink("Ver Pratos", "Index", "Prato", new { area = "" }, new { @class = "navbar-brand" })
    </button>
    </div>